# node modules
node_modules/
npm-debug.log
yarn-error.log

# build output
dist/
build/
.next/
out/

# env 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log

# mac
.DS_Store

# python
__pycache__/
*.py[cod]
*$py.class
venv/
.env/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
